@page "/BattleshipsTest"
@using Emne9_Prosjekt.GameComponents
@inject BattleShipComponents GameComponents

@if (_board == null || !_board.Any())
{
    <p><em style="padding-top: 125px">
        You RAPSCALLION!
        Enter through the proper way and sett up your board first!
    </em></p>
}
else
{
    <div style="display: flex;
                justify-content: center;
                align-items: start;
                position: relative;
                padding-top: 125px">
        <div style="justify-content: center">
            <h5 style="text-align: center">Your board</h5>
                <table style="margin: auto">
                    @foreach (var row in "ABCDEFGHIJ")
                    {
                        <tr>
                            @for (int col = 1; col <= 10; col++)
                            {
                                var pos = $"{row}{col}";
                                int value = _board[pos];
                                <td style="width: 10px; height: 10px; border: 1px solid black;
                                background:  @BoardStatus(value);">
                                </td>
                            }
                        </tr>
                    }
                </table>
        </div>
        <div style="justify-content: center; padding-left: 10px">
            <h5 style="text-align: center">Opponents board</h5>
            @if (!_board.Any())
            {
                <p><em>Waiting for opponent to join...</em></p>
            }
            else
            {
                <table style="margin: auto">
                    @foreach (var row in "ABCDEFGHIJ")
                    {
                        <tr>
                            @for (int col = 1; col <= 10; col++)
                            {
                                var pos = $"{row}{col}";
                                var value = _board[pos];
                                <td style="width: 40px; height: 40px; text-align: center; border: 1px solid black;
                                    background: @BoardStatus(value);"
                                    @onclick="() => ShootAtTarget(pos)">
                                    @_board[pos]
                                </td>
                            }
                        </tr>
                    }
                </table>
                <div style="text-align: center">
                    @foreach (var ship in GameComponents.GetShips())
                    {
                        if (GameComponents.GetPlacedShips()[ship.Key].All(pos => GameComponents.GetBoard()[pos] < 0))
                        {
                            <div>Dead</div>
                        }
                        else
                        {
                            <div>@ship.Key</div>
                        }
                    }
                    @if (_shipCount == @GameComponents.SunkenShipCount)
                    {
                        <h3>Win-condition met!</h3>
                    }
                </div>
            }
        </div>
    </div>
}
@code {
    
    private int _shipCount;
    private Dictionary<string, int>? _board;
    private Dictionary<string, int>? _opponentBoard;
    protected override void OnInitialized()
    {
        _board = GameComponents.GetBoard();
        _opponentBoard = GameComponents.GetOpponentBoard();
        _shipCount = GameComponents.GetShips().Count;
    }

    private static string BoardStatus(int value)
    {
        return value switch
        {
            0 => "lightblue",
            1 => "lightgreen",
            -1 => "darkred",
            -2 => "blue",
            _ => "black"
        };
    }
    
    private void ShootAtTarget(string position)
    {
        GameComponents.ShootBoard(position);
    }
}